body {
  font-family: 'Noto Sans KR', sans-serif;

}
a {
  text-decoration: none;
}
img {
  display: block;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER  */
header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 9;
}
header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header .logo {
  font-family: 'Montserrat', sans-serif;
  color:#ef426f;
  font-size: 30px;

}
header .main-menu {
  display: flex;
  text-align:center;
}
header .main-menu > li{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main-menu > li > a {
  font-size: 18px;
  color: #000;
  padding: 10px 30px;
  display: block;
}
header .sub-menu{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 70px;
}
header .sub-menu li {
  padding: 10px 0;
}
header .sub-menu li a {
  font-size: 14px;
  color:#595959;
}
header .sub-menu li a:hover {
  font-weight: 500;
  color:#000;
  border-bottom: 1px solid #000
}
header .main-menu:hover .sub-menu {
  /*  transition: all .5s 지속시간  .5s 딜레이 시간 */ 
  transition: all .1s .1s
 }
header .icon-box{
  display: flex;
  gap: 10px;
}
header .icon-box button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
header .icon-box button span {
  font-size: 30px;
}


/* VISUAL */
.visual img {
  width: 100%
}


/* PRODUCT */
.product {
  padding: 150px 0;
}
.product .inner {
  max-width: 1400px
}
.product .product__box {
  text-align:center;
  cursor: pointer;
}
.product .product__box img  {
  width: 100%;
  margin-bottom: 30px;
}
.product .product__box .name{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  letter-spacing: -1px;
} 
.product .product__box .price{
  font-size: 17px;
  color: #bcbcbc;
  text-decoration: line-through;
  margin-bottom: 10px;
}
.product .product__box .sale{
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -1px;  
}
.product .swiper-button-prev,
.product .swiper-button-next {
  background: #fff;
  padding: 20px;
}


/* BRAND */
.brand {
  padding: 150px 0;
  background-image: url("../images/brand-bg.jpg");
}
.brand .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}
.brand .img-box {
  display: flex;
  width: 50%;
  gap: 10px;
}
.brand .img-box img {
  width: 100%;
}
.brand .text-box {
  width: 40%;
  text-align: center;
}
.brand .text-box h3 span {  
  display: block;
  font-size: 15px;
  margin-bottom: 30px;
  color: #a9a9a9;

}
.brand .text-box h3 {
  font-size: 55px; 
  color:#000;
  margin-bottom: 30px;
}
.brand .text-box p {
  color: #696969;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 70px;
}
.brand .text-box a {
  color:#000
}


/* BANNER */
.banner {
  padding: 150px;
}

/* NOTICE */
.notice .inner {
  display: flex;
}


/* FOOTER */
footer {
  background-color: #141313;
  padding: 50px 0;
}
footer .footer-menu ul {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
footer .footer-menu li {
  background-color: #262424;
  padding: 10px;
}
footer .footer-menu li a{
  color: #fff;
}
footer .info span {
  color: #3b3b3b;
}
footer .copyright{
  font-size: 14px;
  color: #474444;
}

